@import "../../../styles/color.scss";

.greetingContent {
  margin: 0px 50px;
  padding: 20px;
  border: 1px solid $grey;
  border-radius: 4px;
  padding: 30px;
  .greetingHead {
    margin-bottom: 50px;
    .heading {
      font-size: 20px;
      font-weight: 700;
    }
    .description {
      color: $grey;
    }
  }
  .greetingSection {
    background-color: $grey_100;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    .name {
      font-size: 20px;
      font-weight: 700;
      text-transform: capitalize;
    }
    .welcome {
      color: $grey;
    }
  }
  .updateSection {
    .nameLabel {
      font-weight: 700;
    }
    .inputSection {
      display: flex;
      gap: 14px;
      flex-wrap: wrap;
      .input {
        width: 92%;
        border-radius: 4px;
        font-weight: 600;
        border: 1px solid $grey_100;
        padding-left: 10px;
        outline: none;
        padding: 10px;
      }
      .updateButton {
        padding: 8px 20px;
        color: $white;
        background-color: $black;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &.updateDisabledButton {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
  .greetingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
