@import "../../styles/color.scss";

.tasksHeading {
  margin: 20px 16px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.homeContent {
  padding: 0 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  .cardContent {
    flex: 1 1 250px;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid $gray_100;
    overflow: hidden;
    color: $black;
    text-decoration: none;
    min-width: 250px;
    max-width: 300px;
    &:hover {
      transform: scale(1.05);
      transition: all 0.5s ease;
    }
    .cardHeading {
      font-size: 18px;
      font-weight: 700;
      display: flex;
      gap: 10px;
    }
    .cardDescription {
      color: $gray;
      font-size: 12px;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
