@import "../../styles/color.scss";

.backToTask {
  font-weight: 700;
  cursor: pointer;
  margin: 20px;
  display: flex;
  gap: 5px;
  > svg {
    height: 20px;
    width: 20px;
    fill: $black;
  }
}
